*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}

.meist{
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  margin: 1rem;
  width: 34.8rem;
}

.kohale{
  margin: 1rem;
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  width: 34.8rem;
    
}

#kohvik{
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  width: 34.6rem;
  height: 26rem;
  margin: 1rem;
}
