.rida{
  margin-top: 1rem;
}

body{
  margin-bottom: 4rem;
}

label{
  float: left;
  width: 8rem;
  margin-left: 2.2rem;
}

input {
  float: left;
  border-radius: 0.3rem;
  padding: 0.2rem 0rem;
  border: 0.1rem solid white;
  margin-left: 2rem;
}

textarea{
  border-radius: 0.3rem;
  border: 0.01rem solid white;
  margin-left: 2rem;
}



#gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 4rem;
  margin-top: 2rem;
  grid-template-areas: 
  "gallery-p gallery-p gallery-p gallery-p"
  "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
  "kook1 kook2 kook3 kook4"
  "kook5 kook6 kook7 kook8"
  "kook9 kook10 kook11 kook12"
  "kook13 kook14 kook15 kook16"
  
  ;
}

#gallery .gallery-img{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}


#gallery .kook1{
  grid-area: kook1;
  background-image: url("../images/galerii/small/kook1.jpg");
}
#gallery .kook2{
  grid-area: kook2;
  background-image: url("../images/galerii/small/kook2.jpg");
}
#gallery .kook3{
  grid-area: kook3;
  background-image: url("../images/galerii/small/kook3.jpg");
}
#gallery .kook4{
  grid-area: kook4;
  background-image: url("../images/galerii/small/kook4.jpg");
}
#gallery .kook5{
  grid-area: kook5;
  background-image: url("../images/galerii/small/kook5.jpg");
}
#gallery .kook6{
  grid-area: kook6;
  background-image: url("../images/galerii/small/kook6.jpg");
}
#gallery .kook7{
  grid-area: kook7;
  background-image: url("../images/galerii/small/kook7.jpg");
}
#gallery .kook8{
  grid-area: kook8;
  background-image: url("../images/galerii/small/kook8.jpg");
}
#gallery .kook9{
  grid-area: kook9;
  background-image: url("../images/galerii/small/kook9.jpg");
}
#gallery .kook10{
  grid-area: kook10;
  background-image: url("../images/galerii/small/kook10.jpg");
}
#gallery .kook11{
  grid-area: kook11;
  background-image: url("../images/galerii/small/kook11.jpg");
}
#gallery .kook12{
  grid-area: kook12;
  background-image: url("../images/galerii/small/kook12.jpg");
}
#gallery .kook13{
  grid-area: kook13;
  background-image: url("../images/galerii/small/kook13.jpg");
}
#gallery .kook14{
  grid-area: kook14;
  background-image: url("../images/galerii/small/kook14.jpg");
}
#gallery .kook15{
  grid-area: kook15;
  background-image: url("../images/galerii/small/kook15.jpg");
}
#gallery .kook16{
  text-align: center;
  grid-area: kook16;
  background-image: url("../images/galerii/small/kook16.jpg");
}
#gallery .gallery-img div{
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .gallery-img div:hover{
  opacity: 0.8;
  transition: all ease-in-out 100ms;
}

#gallery .gallery-img a{
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
}

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img{
  max-height: 80vh;
  max-width: 80vw;
}

.img-btn-next{
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover{
  opacity: 0.8;
}

.img-btn-prev{
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover{
  opacity: 0.8;
}