body{
  border: none;
  margin: 0.5rem;
}

video {
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

.logopilt {
    width: 400px;
    height: 200px;
}

.navbar{
  background-color: rgb(145, 72, 106);
  opacity: 60%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Clicker Script', cursive;
}