body{
  display: flex;
}

.meist{
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  margin: 1rem;
  width: 34.2rem;
}

.kohale{
  margin: 1rem;
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  width: 34.2rem;
    
}

#kohvik{
  border: 0.3rem solid white;
  border-radius: 0.2rem;
  width: 34.2rem;
  height: 26rem;
  margin: 1rem;
}
