video {
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

.logopilt {
    width: 400px;
    height: 200px;
}

.navbar {
    background-color: rgb(145, 72, 106);
    opacity: 60%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Clicker Script', cursive;
  }

  .navbar a {
    float: right;
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 33px;
  }

  .navbar a:hover {
    background-color: rgb(230, 209, 223);
    color: black;
  }

  .sotsmeedia img{
    width: 40px;
    height: 40px;
  }

  .sotsmeedia a{
    padding: 0px 11px;
    padding-top: 10px;
    float: left;
  }

  .sotsmeedia a:hover{
      background-color: rgba(51, 50, 50, 0.308);
  }